{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
	<head>
    	<meta charset="utf-8">
    	<title>Cadastro de usuários</title>
	</head>
	<body>
	{% block main %}


		<h3>Cadastro de usuários</h3>
		
		<form method="post" class="form-group">
    	{% csrf_token %}       	
       		<label>Usuário:</label>
       		{{ form.username }}
       
       		<br>    
    
       		<label>Senha:</label>
       		{{ form.password1 }}
       
       		<br>    
    	
       		<label>Confirmação de senha:</label>
       		{{ form.password2 }} 
       
       		<br>
    
       		<input type="submit"class="btr btn-primary" value="Cadastrar">
		</form>
	{% endblock%}
	</body>
</html>
