
{% extends 'base.html' %}



{% block main %}
    <div class="row">
        <div class="col">


        </div>
        <div class="col-6">
                <h3>Listagem de Formas de pagamentos</h3>
               <ul class="list-group">
                    {% for pays in est %}
                        <li class="list-group-item">
                           <a href="{% url 'est_updates' pays.id %}" class="button">       {{ pays.state }}                       </a>

                            <a href="{% url 'delete_est' pays.id %}" class="button">           delete                 </a>

                        </li>



                    {% endfor %}


                </ul>
                <br>



        </div>
        <div class="col">
            {% if user.is_authenticated %}
                <p>Olá {{ user.username }}
                    <a href="{% url 'logout' %}"><span class="badge badge-dark">Sair</span></a></p>
            {% endif %}


        </div>



    </div>







{% endblock %}
{% block footer %}
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Desenvolvimento django Python</span>
        </div>
    </footer>

{% endblock %}
