{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Map Jobs</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="{% static 'css/styles.min.css' %}">

</head>

<body>
    
    <div>
        <div class="container">
            <div class="row">
                
            </div>
        </div>
    </div>
    <div class="register-photo">
        <div class="form-container">
            <div class="image-holder"></div>
            <form method="post">
                {% csrf_token %}
                <h2 class="text-center"><strong>Criar</strong>&nbsp;Conta</h2>
                <div class="form-group"><input class="form-control" type="text" name="first_name" placeholder="Nome"></div>
                <div class="form-group"><input class="form-control" type="text" name="last_name" placeholder="Sobrenome"></div>

                <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
                <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Senha"></div>
                <div class="form-group"><input class="form-control" type="password" name="password-repeat" placeholder="Confirme sua senha"></div>
                <div class="form-group"><input class="form-control" type="tel" name="wats" placeholder="Whatsapp"></div>
                <div class="form-group"><input class="form-control" type="file" name="photo" placeholder="Foto"></div>

                <div class="form-group"></div>


            </form>
        </div>
    </div>
    <!--<script src="{% static '/js/jquery.min.js' %}"></script>-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/popper.min.js.map></script>

    <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>