{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>

<head>




</head>

<body>
{% block main %}
    <div>
        <div class="container">
            <div class="row">
                
            </div>
        </div>
    </div>
    <div class="register-photo">
        <div class="form-container">
            <div class="image-holder"></div>
            <form method="post">
                {% csrf_token %}
                <h2 class="text-center"><strong>Criar</strong>&nbsp;Conta</h2>
                <div class="form-group"><input class="form-control" type="text" name="first_name" placeholder="Nome"></div>
                <div class="form-group"><input class="form-control" type="text" name="last_name" placeholder="Sobrenome"></div>

                <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
                <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Senha"></div>
                <div class="form-group"><input class="form-control" type="password" name="password-repeat" placeholder="Confirme sua senha"></div>
                <div class="form-group"><input class="form-control" type="tel" name="wats" placeholder="Whatsapp"></div>
                <div class="form-group"><input class="form-control" type="file" name="photo" placeholder="Foto"></div>

                <div class="form-group"></div>


            </form>
        </div>
    </div>

{% endblock%}
</body>

</html>