{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>

<head>

<!-- precisa de melhorias-->


</head>

<body>
{% block main %}
     <nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>


    		<li class="breadcrumb-item active" aria-current="page">Cadastro Prestador de Serviços</li>


  		</ol>
	</nav>

    <div class="register-photo">
        <div class="form-container">
             <div class="image-holder"></div>
            <form method="post">
                {% csrf_token %}
                <h2 class="text-center"><strong>Criar</strong>&nbsp;Conta</h2>
                <div class="form-group"><input class="form-control" type="text" name="person" placeholder="Usuario" value="{{ user.username }}" required></div>
                <div class="form-group"><input class="form-control" type="text" name="cpf" placeholder="Cpf - pessoa fisica"></div>

                <div class="form-group"><input class="form-control" type="text" name="cnpj" placeholder="Cnpj - Mei/juridica"></div>
                <div class="form-group">
                    <textarea class="form-control" id="FormControlTextarea1" rows="5" placeholder="Descreva suas atividades" name="descricao" required></textarea>
                </div>
                <div class="form-group">
                    <label for="FormControlSelect2">Selecione áreas de atuação</label>
                    <select multiple class="form-control" id="FormControlSelect2" name="tipoServicos" required>
                        <option>Diarista</option>
                        <option>Pedreiro</option>
                        <option>Eletricista</option>
                        <option>Carpinteiro</option>
                        <option>Marceneiro</option>
                    </select>

                 </div>

                <div class="form-group">
                    <label for="FormControlSelect3">Selecione cidades de atuação</label>
                    <select multiple class="form-control" id="FormControlSelect3" name="atuacaoCidade" required>
                        <option>Fraiburgo</option>
                        <option>Videira</option>
                        <option>Monte Carlo</option>

                    </select>


                </div>
                <div class="form-group">
                    <label for="FormControlSelect4">Selecione estados de atuação</label>
                    <select multiple class="form-control" id="FormControlSelect4" name="atuacaoEstado" required>
                        <option>Santa Catarina</option>
                        <option>Paraná</option>


                    </select>

                </div>
                <div class="form-group">
                    <label for="FormControlSelect5">Selecione Forma de Pagamento</label>
                    <select multiple class="form-control" id="FormControlSelect5" name="formaPagamento" required>
                        <option>Dinheiro</option>
                        <option>Cheque</option>


                    </select>




                </div>



                <div class="form-group"><input class="form-control" type="text" name="outroTelefone" placeholder="outros telefones"></div>
                <div class="form-group"><input class="form-control" type="text" name="RedesSociais" placeholder="Redes Sociais"></div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Cadastrar</button>
                     <a href="{% url 'home' %}"class="btn btn-danger btn-block">Cancelar</a>

                </div>

                <div class="form-group"></div>


            </form>

    </div>

{% endblock%}
</body>

</html>