{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MapJobs</title>
	<link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="static/img/favicon.ico" type="image/x-icon">

     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link href="static/css/stylish-portfolio.min.css" rel="stylesheet">

</head>
<body id="page-top">


	<nav style="background-color: #EEEEEE" id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-brand" style="background-color: #EEE9E1
			">
				<a class="js-scroll-trigger" href="#">MapJobs</a>
			</li>
			<li class="sidebar-nav-item">
				<a class="js-scroll-trigger" href="{% url 'login' %}">Login</a>
			</li>
			<li class="sidebar-nav-item">
				<a class="js-scroll-trigger" href="{% url 'user_new' %}">Cadastro</a>
			</li>
		</ul>
	</nav>
	
</div>
<!--Base acaba aqui-->




   	<!-- Plugins JavaScript -->
	<script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="static/js/stylish-portfolio.min.js"></script>


</body>
 </html>
 
				